@model TabloidMVC.Models.ViewModels.CommentPostViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-route-id="@Model.PostId" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                    Id
            </th>
            <th>
                    Subject
            </th>
            <th>
                    Content
            </th>
            <th>
                    Created Date Time
            </th>
            <th>
                    Post Id
            </th>
            <th>
                    User Profile Id
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comments) {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.UserProfileId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
