@model TabloidMVC.Models.ViewModels.CommentPostViewModel

@{
    ViewData["Title"] = "Index";
}




<table class="table">
    
    <thead>
        <tr>
            <h1>
                @Model.Post.Title
            </h1>
            <th>
                    Subject
            </th>
            <th>
                    Content
            </th>
            <th>
                    Created Date Time
            </th>
            
            <th>
                    User Name
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
            {
        <tr>
            
            <td>
               
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.UserProfile.DisplayName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
            
        </tr>
            }

    </tbody>
</table>
<p>

    <a asp-route-id="@Model.PostId" asp-action="Create">Create New</a>
</p>
